body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}
.welcome-container {
  border: none;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px;
}

main.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.welcome-content {
  text-align: center;
}

h1 {
  color: white;
}

.avatar-container img {
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

