nav {
  background-color: #333;
  color: #fff; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

nav img {
  width: 30px; /* Set the desired width for the profile image */
  border-radius: 50%;
}

footer {
  background-color: #333; 
  color: #fff;
  padding: 10px;
  text-align: center;
}