<!-- <%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Create New Budget</h1>
<% if (user) { %>
  <form action="/budgets/new" method="POST">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" required>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required>

    <label for="timePeriod">Time Period:</label>
    <input type="text" id="timePeriod" name="timePeriod" required>

    <button type="submit">Create Budget</button>
  </form>
<% } %>

<%- include('../partials/footer') %> -->
